@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{

  /* ### Global Styles */

  /* ### Primary */
  --linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  --red: hsl(0, 100%, 66%);

  /* ### Neutral */
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);

  /*========== Font and typography ==========*/
  --body-font: 'Space Grotesk', sans-serif;
}


body,
html {
  height: 100%;
  font-family: var(--body-font);
  background-color: var(--white);
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

#root{
  height: 100%;
  min-height: 690px;
}

label{
  color: var(--very-dark-violet);
  letter-spacing: 1px;
}

.bg-desktop{
  background-image: url('./images/bg-main-desktop.png');
}

.bg-mobile{
  background-image: url('./images/bg-main-mobile.png');
}

.bg-pattern-size {
  background-size: 100% 30%;
}

.card {
  background-size: cover;
  height: 9rem;
  margin: 0 3rem 0.3rem 0;
  max-width: 262.5px;
  width: 70%;
}

.back-card{
  background-image: url('./images/bg-card-back.png');
  left: 1.5rem;
  position: relative;
}

.front-card {
  background-image: url('./images/bg-card-front.png');
  bottom: 4.2rem;
  letter-spacing: 2px;
  position: relative;
  right: 2rem;
}

.cvc{
  margin: 0 2rem 0.1rem 0;
}

.input-color{
  border-color: var(--light-grayish-violet);
}

.input-color:focus{
  border: double 1px transparent;
  border-radius: 4px;
  background-image: linear-gradient(var(--white), var(--white)), 
                    linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.input-error {
  border-color:var(--red);
}

.text-error{
  color: var(--red);
}

.text-gray-violet{
  color: var(--dark-grayish-violet);
}

.btn-dark-violet{
  background-color: var(--very-dark-violet);
  color: var(--white);
}

/* ############### Popup styles ################### */
.popup-content {
  margin: auto;
  background: var(--white);
  width: 50%;
  padding: 10px;
  border: 1px solid var(--dark-grayish-violet);
  -webkit-animation: 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards anvil;
}

.popup-arrow {
  color: var(--white);
}

[role='tooltip'].popup-content {
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

@keyframes anvil {
  from {
    transform: scale(1) translateY(0px);
    opacity: 0;
  }
  to {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}
/* ############### End Popup styles ################### */

/* ############### Hover Animation ################### */
/* Animación solo para dispositivos con cursor */
@media (hover: hover) and (pointer: fine) {
  .hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-float:hover {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
/* ############### End Hover Animation ################### */

@media (min-width: 640px) {
  .popup-content {
    opacity: 0.4;
  }
}

@media (min-width: 768px) {
  .bg-pattern-size {
    background-size: 40% 100%;
  }

  .card {
    background-size: contain;
    width: 20rem;
    height: 11rem;
    margin: 1rem 0;
    max-width: none;
  }
  
  .back-card{
    background-image: url('./images/bg-card-back.png');
    left: 0rem;
    position: relative;
  }
  
  .front-card {
    background-image: url('./images/bg-card-front.png');
    bottom: 0rem;
    letter-spacing: 2px;
    position: relative;
    right: 3.5rem;
  }

  .cvc{
    margin: 0 2.5rem 0.4rem 0;
  }

}

@media (min-width: 1024px) {
  .card {
    width: 24.5rem;
    height: 13.5rem;
  }

  .cvc{
    margin: 0 3rem 0.4rem 0;
  }
}
